<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Password Change</h1>

    {% if place %}
        <p>{{place}}</p>
    {%endif%}


    {% if messeges %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <label for="old">Old Password: </label>
        <input type="password" name="old" id="old" ><br>

        <label for="new">New Password: </label>
        <input type="password" name="new" id="new"><br>
        
        <button type="submit">Change</button>

    </form>
    
    <a href="{% url 'expense_tracker:logout' %}">Logout </a>

</body>
</html>